# This is a basic workflow to help you get started with Actions
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Étape 1 : Récupérer le code (OBLIGATOIRE sinon le runner est vide)
      - name: Checkout code
        uses: actions/checkout@v4

      # Étape 2 : Configurer Java
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # Étape 3 : Lancer la compilation
      - name: Build with Maven
        run: mvn clean install
