name: Validation QA

on:
  project_item:
    types: [edited]

jobs:
  assign-qa:
    runs-on: ubuntu-latest
    # On vérifie uniquement si on est dans le bon projet (optionnel)
    if: github.event.project_item.project_node_id != '' 

    steps:
      - name: Debug Info
        run: |
          echo "ID de la ressource: ${{ github.event.project_item.content_node_id }}"
          echo "Champ modifié: ${{ github.event.changes.field_value.field_name }}"

      - name: Assigner le responsable QA
        uses: leonsteinhaeuser/project-beta-automations@v2.2.1
        with:
          gh_token: ${{ secrets.PROJECT_AUTOMATION }}
          organization: "qa-test-automation"
          # On cible directement l'item qui vient d'être modifié
          resource_node_id: ${{ github.event.project_item.content_node_id }}
          operation_mode: "set_custom_field_values"
          custom_field_values: |
            {
              "Assigné": "Ghazi-Kriaa"
            }
