name: Validation QA

on:
  projects_v2_item:
    types: [edited]

jobs:
  validation-qa:
    runs-on: ubuntu-latest

    permissions:
      issues: write
      repository-projects: write
      contents: read

    steps:
      - name: Debug event
        run: |
          echo '${{ toJson(github.event) }}'

      - name: Assigner QA si Status = Done
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.PROJECT_AUTOMATION }}
          script: |
            const changes = context.payload.changes;
            const item = context.payload.projects_v2_item;

            if (!changes || !changes.field_value) {
              console.log("Aucun changement de champ");
              return;
            }

            const fieldName = changes.field_value.field_name;
            const newValue = changes.field_value.value;

            console.log(`Champ modifié: ${fieldName}`);
            console.log(`Nouvelle valeur: ${newValue}`);

            if (fieldName === "Status" && newValue === "Done") {
              const issue = item.content;

              if (!issue || issue.type !== "Issue") {
                console.log("Ce n’est pas une issue");
                return;
              }

              await github.rest.issues.addAssignees({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: issue.number,
                assignees: ["Ghazi-Kriaa"]
              });

              console.log("QA assigné avec succès");
            }
