name: Validation QA

on:
  project_item:
    types: [edited, converted]

jobs:
  assign-qa:
    runs-on: ubuntu-latest
    # Correction de la condition : 
    # 1. Vérifie qu'on modifie le champ 'Status'
    # 2. Vérifie que la nouvelle valeur est bien 'Done'
    if: |
      github.event.changes.field_value.field_name == 'Status' && 
      github.event.project_item.content_node_id != null
    
    permissions:
      issues: write
      repository-projects: write
      contents: read

    steps:
      - name: Assigner le responsable QA quand colonne Done
        uses: leonsteinhaeuser/project-beta-automations@v2.2.1
        with:
          gh_token: ${{ secrets.PROJECT_AUTOMATION }}
          organization: "qa-test-automation" 
          project_id: 1
          resource_node_id: ${{ github.event.project_item.content_node_id }}
          operation_mode: "set_custom_field_values"
          # On définit le statut ET l'assigné pour être sûr
          custom_field_values: |
            {
              "Status": "Done",
              "Assigné": "Ghazi-Kriaa"
            }
