name: Validation QA

on:
  project_item:
    types: [edited, created] # Ajout de 'created' au cas où vous créez l'item directement dans Done

jobs:
  assign-qa:
    runs-on: ubuntu-latest
    # Simplification radicale de la condition pour éviter le 'skipped'
    if: github.event.project_item.content_node_id != null

    permissions:
      issues: write
      repository-projects: write
      contents: read

    steps:
      - name: Assigner le responsable QA
        uses: leonsteinhaeuser/project-beta-automations@v2.2.1
        with:
          gh_token: ${{ secrets.PROJECT_AUTOMATION }}
          organization: "qa-test-automation"
          project_id: 1 
          resource_node_id: ${{ github.event.project_item.content_node_id }}
          operation_mode: "set_custom_field_values"
          custom_field_values: |
            {
              "Assigné": "Ghazi-Kriaa"
            }
